body {
    font-family: "Libre Franklin", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color:beige;
  }

.aside {
    grid-area: aside;
    background-color: darkkhaki;
    padding: 20px;
    text-align: center;
    
}

.article {
    margin: 20px;
    /* display: flex;
    flex-direction: row; */
    justify-content: center;
}

.portrait {
    border-radius: 100%;
}

.all {
    display: flex;
    flex-direction: row;
    justify-self: center;
}

.wrapper {
    display: grid;
    grid-template-areas:
    "aside outer outer"
    "aside outer2 outer2"
    "aside outer3 outer3"
    ;
    width: 80%;
}

.outer, .outer2, .outer3 {
    font-size: 20px;
    width: 100%;
    max-height: auto;
}

.outer {
    grid-area: outer;   
    display: flex;
    flex-direction: row;
}

.one {
    grid-area: box1;
    padding: 20px;
    width: 100%;
}

.two {
    grid-area: box2;
    padding: 20px;
    width: 100%;
}

.outer2 {
    grid-area: outer2;
    display: flex;
    flex-direction: row;
}

.outer3 {
    grid-area: outer3;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 250px;
  }
  
.gallery:hover {
    border: 3px solid #777;
  }

.gallery img {
    width: 240px;
    height: auto;
  }
  
.desc {
    padding: 15px;
    text-align: center;
  }

.three {
    grid-area: box3;
    padding: 20px;
    width: 100%;
}

.four {
    grid-area: box4;
    padding: 20px;
    width: 100%;
}

.greytext {
    color: grey;
}

@media only screen and (max-width: 700px) {
    .wrapper {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
}

.outer {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.outer2 {
    display: flex;
    flex-direction: column;
}

.outer3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.one, .two, .three, .four {
    width: 100%;
}

}