nav {
    background-color: black;
    height: 4vh;
}

#icon {
color: white;
}

#link {
color: white;
position: absolute;
right: 10px;
}

.product_row {
    margin: 10px;
}

.product {
    width: 300px;
    height: 500px;
}

#product_image_1 {
    background-image: url("./media/image1.png");
    background-repeat: no-repeat;
    background-size:cover;
    height: 400px;
    width: 300px;
    padding: 10px;
}

.new {
    margin: 100px;
    width: 50px;
    height: 50px;
    background-color: green;
    color: white;
    font-weight: bold;
    border-radius: 100%;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

.discount {
    position: relative;
    left: 200px;
    background-color: red;
    color: white;
    font-weight: bold;
    height: 50px;
    width: 50px;
    border-radius: 100%;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

.description {
    text-align: center;
}

.name {
    font-size: large;
}

.price {
    font-size: x-large;
    color: green;
}

del {
    font-size: large;
    color: grey;
}

button {
    font-size: large;
    background-color: white;
    color: grey;
    font-weight: bold;
    height: 55px;
    width: 150px;
    border-style: solid;
}

button:hover {
    background-color: bisque;
}