.box {
    background-color: yellow;
    width: 100px;
    height: 100px;
    margin: 4%;
}

#left {
    display: flex;
    flex-direction: column;
    
}

#center {
    display: flex;
    flex-direction: row;
    align-self: center;

}

#right {
    display: flex;
    flex-direction: column;

}

body {
    display: flex;
    flex-direction: row;
}