.box {
    background-color: yellow;
    width: 150px;
    height: 150px;
    margin: 5%;
    border: solid 2px black;
}

#left {
    display: flex;
    flex-direction: column;
    
}

#center {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-self: center;
    justify-content: center;

}

#right {
    display: flex;
    flex-direction: column;

}

body {
    display: flex;
    flex-direction: row;
    margin: 1%;
}