body {
    margin: 0px;
}

nav {
    background-color: black;
    height: 40px;
    padding: 20px;
}

#icon {
color: white;
font-size: xx-large;
}

#link {
color: white;
position: relative;
left: 80%;
font-size: xx-large;
text-decoration: none
}

.product_row {
    /* display: grid;
    flex-direction: row;
    justify-content: center; */
    margin: 10px;
}

.product {
    display: inline-block;
    width: 300px;
    height: 600px;
    margin: 30px;
}

#product_image_1 {
    background-image: url("./media/image1.png");
    background-repeat: no-repeat;
    background-size:cover;
    height: 400px;
    width: 300px;
    padding: 10px;
}

#product_image_2 {
    background-image: url("./media/image2.png");
    background-repeat: no-repeat;
    background-size:cover;
    height: 400px;
    width: 300px;
    padding: 10px;
}

#product_image_3 {
    background-image: url("./media/image3.png");
    background-repeat: no-repeat;
    background-size:cover;
    height: 400px;
    width: 300px;
    padding: 10px;
}

#product_image_4 {
    background-image: url("./media/image4.png");
    background-repeat: no-repeat;
    background-size:cover;
    height: 400px;
    width: 300px;
    padding: 10px;
}

.new {
    margin: 100px;
    width: 50px;
    height: 50px;
    background-color: green;
    color: white;
    font-weight: bold;
    border-radius: 100%;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

.discount {
    position: relative;
    left: 200px;
    background-color: red;
    color: white;
    font-weight: bold;
    height: 50px;
    width: 50px;
    border-radius: 100%;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

.description {
    text-align: center;
}

.name {
    font-size: large;
}

.price {
    font-size: x-large;
    color: green;
}

del {
    font-size: large;
    color: grey;
}

button {
    font-size: large;
    background-color: white;
    color: grey;
    font-weight: bold;
    height: 55px;
    width: 150px;
    border-style: solid;
}

button:hover {
    background-color: bisque;
}

footer {
    padding: 20px;
    color: grey;
    background-color: bisque;
}