

h1 {
  background-color: brown;
  color: white;
  margin: 0;
}

.form {
  background-color: blanchedalmond;
  padding: 10px;
}

.info {
  background-color: darkslategrey;
  color: white;
}

#fn, #ln, #ag {
  width: 500px;
  height: 20px;
  margin: 3px;
}

button {
  width: 140px;
  height: 40px;
  font-size: large;
}