.App {
  text-align: center;
}

.main {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  margin: 20px; 
}

.searchbox {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

input {
  height: 36px;
  width: 300px;
  border-radius: 1vh;
  border: solid grey 2px;
  background-color: lightblue;
}

button {
  background-color: darkblue;
}



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
