body {
    background-color: crimson;
    display: flex;
    flex-direction: column;
    font-size: larger;
}

h1 {
    text-align: center;
    color: whitesmoke;
}

#formpanel {
    background-color: whitesmoke;
    border: solid 1px b;
    padding: 3vh;
}

#input, #button {
    font-size: larger;
    display: inline-block;
    background-color: whitesmoke;
    border: none;
}

#input {
    width: 15em;
}

#button {
    color: lightskyblue;
}

#main {
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-self: center;
    font-size: larger;
}

.listTasks {
    width: 20em;
    padding: 4vh;
}

.taskarea {
    padding-bottom: 2vh;
    margin-bottom: 3vh;
    border-bottom: solid 2px lightskyblue;
}

.delete {
    background-color: crimson;
    color: whitesmoke;
}

#clear {
    align-self: end;
    font-size: larger;
    color: crimson;
    background-color: whitesmoke;
    border: none;
    margin: 3vh;
}

#clear:hover {
    background-color: lightcoral;
}