* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
}

p {
    border-bottom: solid 5px black;
    padding: 1%;
}

.container {
    width: 100%;
}

.wrapper {
    width: 50%;
    border: solid 5px black;
}

.purple {
    background-color: purple;
    height: 200px;
    margin: 3%;
    display: block;
}

.down {
    margin: 3%;
}

.red, .green, .orange {
    height: 400px;
    width: 31.6%;
    margin-left: 1%;
    display: inline-block;
}

.red {
    background-color: maroon;
    margin-left: 0;
}

.green {
    background-color: lightgreen;
}

.orange {
    background-color: orange;
    margin-right: 0;
}
