* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    display: flex;
    flex-direction: row;
    background-color: rgb(29, 29, 29);
    color: white;
    padding: 1%;
    padding-left: 3%;
    padding-right: 3%;
    font-family: "Zen Dots", serif;
}

ul {
    position: absolute;
    right: 5%;
}

li {
    float: left;
    list-style: none;
    width: 200px;
    text-align: center;
    font-size: x-large;
}

article {
    margin: 0;
    height: 800px;
    background-image: url("./media/background.jpg");
    background-size: cover;
    padding: 2%;
}

h1 {
    font-family: "Zen Dots", serif;
    position: relative;
    top: 25%;
    font-size: 80px;
}

p {
    position: relative;
    top: 25%;
    width: 40%;
    font-size: larger;
}
