body {
    background-image: url("./background.gif");
    background-repeat: repeat;
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
    font-family: 'Press Start 2P', cursive;

}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
}

.inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    width: 500px;
    height: 350px;
    border: solid 4px yellow;
    border-radius: 1em;
    margin: 15px;
}

.info {
    color: white;
}


i {
    font-size: 40px;
    color: white;
    text-align: center; 
}

#button {
    width: 350px;
    height: 50px;
    border-radius: 1em;
    border-color: yellow;
    font-size: 20px;
    font-weight: bold;
}